---
import { generateImage } from "astro-eleventy-img";

export interface Props {
  size?: "S" | "M" | "L";
  isAlternate?: boolean;
}

const widths = [112, 220];
const sizes = "100vw";

const { webp, avif, png } = generateImage("src/assets/logo.png", {
  widths,
  formats: ["webp", "avif", "png"],
  outputDir: "public/assets/images/logo",
  urlPath: "/assets/images/logo",
});

const avifSrcset = avif.map(({ srcset }) => srcset).join(",");
const webpSrcset = webp.map(({ srcset }) => srcset).join(",");
const pngSrcset = png.map(({ srcset }) => srcset).join(",");
---

<a href="/">
  <picture>
    <source type="image/avif" srcset={avifSrcset} />
    <source type="image/webp" srcset={webpSrcset} />
    <source type="image/png" srcset={pngSrcset} />
    <img
      src={png[0].url}
      width={png[0].width}
      height={png[0].height}
      alt="Watheia Labs"
    />
  </picture>
</a>
